{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.date) }}
{{ form_row(form.location) }}
{{ form_row(form.entryDeadline) }}
{{ form_row(form.description) }}
{{ form_row(form.isCancelled) }}

{# Already existing categories (in database) which could be added to categories collection #}
{{ form_row(form.categoriesInDatabase) }}
<button id="addExistingCategory" class="btn btn-primary" type="button">Přidat kategorii</button>

<div id="categories" class="my-4 container-fluid"
     data-index="{{ form.categories | length > 0 ? form.categories | last.vars.name + 1 : 0 }}"
     data-prototype="{{ form_widget(form.categories.vars.prototype) | e('html_attr') }}">
    <div id="categoriesHolder" class="row">
        {% for category in form.categories %}
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 border p-2">
                {{ form_widget(category) }}
                <button type="button" class="btn btn-danger btn-sm delete-category">Smazat</button>
            </div>
        {% endfor %}
    </div>
</div>
<button id="addNewCategory" class="btn btn-primary" type="button">Přidat kategorii</button>
