{{ form_errors(form) }}

<h2>Základní informace</h2>

{{ form_row(form.name) }}
{{ form_row(form.date) }}
{{ form_row(form.location) }}
{{ form_row(form.entryDeadline) }}
{{ form_row(form.description) }}
{{ form_row(form.isCancelled) }}
{{ form_row(form.discipline) }}

<h2>Organizátoři</h2>

<div id="organizers" class="my-4 container-fluid"
     data-index="{{ form.organizers | length > 0 ? form.organizers | last.vars.name + 1 : 0 }}"
     data-prototype="{{ form_widget(form.organizers.vars.prototype) | e('html_attr') }}">
    <div id="organizersHolder" class="row g-2">
        {% if form.organizers is empty %}
            {{ form_widget(form.organizers) }}
            <p class="px-0">Pokračuj přidáním nového organizátora</p>
        {% else %}
            {% for organizer in form.organizers %}
                <div class="col-12 col-sm-6 col-lg-4 organizer">
                    {{ form_widget(organizer, {'attr': {'class': 'border p-3'}}) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{# already existing organizers (in database) which could be added to organizers collection #}
{{ form_row(form.organizersInDatabase) }}

<div class="d-grid gap-2 d-md-block mb-3">
    <button id="addExistingOrganizer" class="btn btn-primary" type="button">Přidat vybraného organizátora</button>
    <button id="addNewOrganizer" class="btn btn-primary" type="button">Přidat nového organizátora</button>
</div>

<h2>Kategorie</h2>

<div id="categories" class="my-4 container-fluid"
     data-index="{{ form.categories | length > 0 ? form.categories | last.vars.name + 1 : 0 }}"
     data-prototype="{{ form_widget(form.categories.vars.prototype) | e('html_attr') }}">
    <div id="categoriesHolder" class="row g-2">
        {% if form.categories is empty %}
            {{ form_widget(form.categories) }}
            <p class="px-0">Pokračuj přidáním nové kategorie</p>
        {% else %}
            {% for category in form.categories %}
                <div class="col-6 col-sm-4 col-md-3 col-xl-2 category">
                    {{ form_widget(category, {'attr': {'class': 'border p-3'}}) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{# already existing categories (in database) which could be added to categories collection #}
{{ form_row(form.categoriesInDatabase) }}

<div class="d-grid gap-2 d-md-block mb-3">
    <button id="addExistingCategory" class="btn btn-primary" type="button">Přidat vybranou kategorii</button>
    <button id="addNewCategory" class="btn btn-primary" type="button">Přidat novou kategorii</button>
</div>

<h2>Doplňující informace</h2>

{# if maxCapacity is defined --> training event, if it is not defined --> race event #}
{% if form.maxCapacity is defined %}
    {{ form_row(form.maxCapacity) }}
{% else %}
    {{ form_row(form.level) }}
    {{ form_row(form.orisId) }}
    {{ form_row(form.autoUpdate) }}
    {{ form_row(form.website) }}
{% endif %}
