<div class="table-responsive">
    <table class="table table-bordered table-light table-striped caption-top">
        <caption>{{ caption }}</caption>
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Název</th>
            {% if events[0].level is defined %}
                <th scope="col" class="d-none d-lg-table-cell">Typ</th>
            {% endif %}
            <th scope="col" class="d-none d-sm-table-cell">Uzávěrka přihlášek</th>
            <th scope="col" class="d-none d-lg-table-cell"><abbr title="Počet přihlášených">PP</abbr></th>
            <th scope="col" class="d-none d-md-table-cell">Stav</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr data-collapsed="true">
                <td class="date"><span class="arrow fa-solid fa-angle-down"></span>{{ event.date | date('d. m. Y') }}</td>
                <td><a href="{{ path('event_detail', { id: event.id }) }}">{{ event.name | u.truncate(30, '...') }}</a></td>
                {% if event.level is defined %}
                    <td class="level d-none d-lg-table-cell"><abbr title="{{ event.level.name }}">{{ event.level.abbr }}</abbr></td>
                {% endif %}
                {{ event.entryDeadline | deadline | raw }}
                <td class="attendance d-none d-lg-table-cell">{{ event.entriesCount }}</td>
                <td class="entry-status d-none d-md-table-cell">{{ memberEntryStatus(event, app.user) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
