<div class="table-responsive">
    <table class="table table-bordered table-light table-striped caption-top">
        <caption>{{ caption }}</caption>
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Název</th>
            <th scope="col" class="d-none d-md-table-cell">Typ</th>
            <th scope="col" class="d-none d-sm-table-cell">Uzávěrka přihlášek</th>
            <th scope="col" class="d-none d-lg-table-cell">Účast</th>
            <th scope="col" class="d-none d-md-table-cell">Stav</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.date | date('d. m. Y') }}</td>
                <td><a href="{{ path('event_detail', { id: event.id }) }}">{{ event.name | u.truncate(30, '...') }}</a></td>
                <td class="d-none d-md-table-cell">MČR</td>
                {{ event.entryDeadline | deadline | raw }}
                <td class="d-none d-lg-table-cell">{{ event.entriesCount | attendance }}</td>
                <td class="d-none d-md-table-cell">{{ memberEntryStatus(event, app.user) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
