{% extends 'layout.html.twig' %}

{% block title %}Přidání události{% endblock %}

{% block content %}
    <h1 class="mb-3 text-center">Přidání události</h1>
    {% if orisImportForm is not null %}
        <h2>Integrace s ORIS</h2>
        {{ form_start(orisImportForm) }}
        {{ form_widget(orisImportForm) }}
        <button class="btn btn-primary" type="submit">Importovat</button>
        {{ form_end(orisImportForm) }}
    {% endif %}

    {{ form_start(form) }}
    {% include 'event/_eventForm.html.twig' with {
        'form': form
    } only %}
    <button class="btn btn-primary" type="submit">Přidat událost</button>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/event.js') }}" defer></script>
{% endblock %}
