{% extends 'layout.html.twig' %}

{% set isRace = event.level is defined %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="modal fade" id="deleteEntryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Potvrzení</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zrušit"></button>
                </div>
                <div class="modal-body">Chceš se opravdu odhlásit z události?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
                    <button type="button" class="btn btn-danger" id="deleteEntryConfirmBtn">Odhlásit</button>
                </div>
            </div>
        </div>
    </div>

    <h1>{{ event.name }}</h1>
    <h2>Informace</h2>
    <hr>
    {% if isRace %}
        <div class="row mb-2">
            <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Typ:</span>
            <span class="col-md">{{ event.level.name }}</span>
        </div>
    {% endif %}
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Datum:</span>
        <span class="col-md">{{ event.date | date('d. m. Y') }}</span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Místo:</span>
        <span class="col-md">{{ event.location }}</span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Start 00:</span>
        <span class="col-md">{{ event.date | date('H:i:s') }}</span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Pořadatel:</span>
        <span class="col-md">
            {% for organizer in event.organizers %}
                {{ organizer.name }}{{ not loop.last ? "," }}
            {% endfor %}
        </span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Disciplína:</span>
        <span class="col-md">{{ event.discipline.name }}</span>
    </div>
    {% if isRace and event.website is not empty %}
        <div class="row mb-2">
            <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Stránka závodu:</span>
            <span class="col-md"><a href="{{ event.website }}" target="_blank">{{ event.website }}</a></span>
        </div>
    {% endif %}
    {% if event.description is not empty %}
        <div class="row mb-2">
            <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Další informace:</span>
            <span class="col-md">{{ event.description }}</span>
        </div>
    {% endif %}

    <h2>Kategorie</h2>
    <hr>
    {% if event.categories is empty %}
        Kategorie zatím nebyly v systému definované
    {% else %}
        {% for category in event.categories %}
            {{ category.name }}{{ not loop.last ? "," }}
        {% endfor %}
    {% endif %}

    <h2>Přihlášky</h2>
    <hr>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Uzávěrka přihlášek:</span>
        <span class="col-md">{{ event.entryDeadline | deadline(false) | raw }}</span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Stav:</span>
        <span class="col-md">{{ memberEntryStatus(event, app.user) }}</span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Přihlášeni:</span>
        <span class="col-md">
            {% if event.entries is empty %}
                Na tuto událost zatím není nikdo přihlášený
            {% else %}
                {% for entry in event.entries %}
                    {{ entry.member.name }}{{ not loop.last ? "," }}
                {% endfor %}
            {% endif %}
        </span>
    </div>
    <div class="row mb-2">
        <span class="col-xxl-2 col-lg-3 col-md-4 fw-bolder">Řidiči:</span>
        <span class="col-md">
            {% if event.entriesWithDrivers is empty %}
                Na tuto událost zatím nemůže nikdo vzít auto
            {% else %}
                {% for entry in event.entriesWithDrivers %}
                    {{ entry.member.name }}{{ not loop.last ? "," }}
                {% endfor %}
            {% endif %}
        </span>
    </div>

    {{ form_start(entryForm) }}
    {{ form_widget(entryForm) }}
    <button class="btn btn-primary" name="save" type="submit">{{ isNewEntry ? 'Přihlásit' : 'Upravit přihlášku' }}</button>
    {% if not isNewEntry %}
        <button class="btn btn-danger" name="delete" type="button" data-bs-toggle="modal" data-bs-target="#deleteEntryModal">Odhlásit</button>
    {% endif %}
    {{ form_end(entryForm) }}

    <h2 id="comments">Komentáře</h2>
    <hr>
    {% if event.comments is empty %}
        <div class="row mb-2">
            <span class="col-md">Zatím nikdo nepřidal komentář</span>
        </div>
    {% else %}
        {% for comment in event.comments %}
            <div class="row mb-2">
                <span class="col-xxl-2 col-lg-3 col-md-4">
                    <div class="fw-bolder">{{ comment.member.name }}</div>
                    <div class="fst-italic">
                        {{ comment.createdAt | date('d. m. Y H:i') }}
                        {% if is_granted('EDIT_COMMENT', comment) %}
                            <a href="{{ path('event_detail', { id: event.id, 'comment': comment.id, '_fragment': 'comments' }) }}">
                                <span class="fa-solid fa-pencil"></span>
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE_COMMENT', comment) %}
                            <a href="{{ path('comment_delete', { id: comment.id }) }}">
                                <span class="fa-solid fa-trash-can"></span>
                            </a>
                        {% endif %}
                    </div>
                </span>
                <span class="col-md">{{ comment.text }}</span>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-start mt-4">
        <div class="col-6">
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button class="btn btn-primary" type="submit">{{ isNewComment ? 'Přidat komentář' : 'Upravit komentář' }}</button>
            {{ form_end(commentForm) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/entry-delete-confirmation.js') }}" defer></script>
{% endblock %}
