{% extends 'layout.html.twig' %}

{% block title %}Administrace{% endblock %}

{% block content %}
    <div class="max-width-800">
        <h1 class="mb-3 text-center">Administrace</h1>
        {{ form_start(form) }}
        {{ form_row(form.events) }}
        <div class="mb-5">
            {{ form_widget(form.editEvent, {'attr': {'class': 'btn-primary btn mb-2'}}) }}
            <a href="{{ path('create_event', {'type': 'training'}) }}" class="btn-primary btn mb-2">Přidat nový trénink</a>
            <a href="{{ path('create_event', {'type': 'race'}) }}" class="btn-primary btn mb-2">Přidat nový závod</a>
        </div>

        <div class="mb-5">
            {{ form_row(form.members) }}
            {{ form_row(form.editMember) }}
        </div>
        {{ form_end(form) }}

        {{ form_start(sendEntriesForm) }}
        {{ form_row(sendEntriesForm.racesInOris) }}
        {{ form_row(sendEntriesForm.username) }}
        {{ form_row(sendEntriesForm.password) }}
        <button type="submit" class="btn-primary btn">Odeslat přihlášky</button>
        {{ form_end(sendEntriesForm) }}
    </div>
{% endblock %}
