{% extends 'layout.html.twig' %}

{% block title %}Administrace{% endblock %}

{% block content %}
    <div class="max-width-800">
        <h1 class="mb-3 text-center">Administrace</h1>
        {{ form_start(form) }}
        {{ form_row(form.events) }}
        <div class="mb-5">
            {{ form_widget(form.editEvent, {'attr': {'class': 'btn-primary btn mb-2'}}) }}
            {{ form_widget(form.addTraining, {'attr': {'class': 'btn-primary btn mb-2'}}) }}
            {{ form_widget(form.addRace, {'attr': {'class': 'btn-primary btn mb-2'}}) }}
        </div>
        {{ form_row(form.members) }}
        {{ form_widget(form.editMember) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
