{% extends 'layout.html.twig' %}

{% block title %}Přehled{% endblock %}

{% block content %}
    {% if races is empty and trainings is empty %}
        <p class="no-events">V&nbsp;systému není evidovaný žádný závod ani&nbsp;trénink s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
    {% else %}
        {% if races is empty %}
            <p class="no-events">V&nbsp;systému není evidovaný žádný závod s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
        {% else %}
            <h2 class="mb-3">Závody s&nbsp;nejbližší uzávěrkou přihlášek</h2>
            {% include 'event/_table.html.twig' with {
                'events': races
            } only %}
            <div class="text-end">
                <a href="{{ path('list_races') }}" class="btn btn-primary">Zobrazit více závodů</a>
            </div>
        {% endif %}
        {% if trainings is empty %}
            <p class="no-events">V&nbsp;systému není evidovaný žádný trénink s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
        {% else %}
            <h2 class="mb-3">Tréninky s&nbsp;nejbližší uzávěrkou přihlášek</h2>
            {% include 'event/_table.html.twig' with {
                'events': trainings
            } only %}
            <div class="text-end">
                <a href="{{ path('list_trainings') }}" class="btn btn-primary">Zobrazit více tréninků</a>
            </div>
        {% endif %}
    {% endif %}
    <h2 class="mb-3">Nejnovější komentáře</h2>
    {% if comments is empty %}
        <p>Nikdo zatím nepřidal žádný komentář.</p>
    {% else %}
        {% for comment in comments %}
            <div class="mb-2">
                <div>
                    <span class="fw-bolder">{{ comment.member.name }}</span>
                    napsal(a) komentář u události
                    <span class="fw-bolder"><a href="{{ path('event_detail', { id: comment.event.id, '_fragment': 'comments' })}}">{{ comment.event.name }}</a></span>
                </div>
                <div class="fst-italic">{{ comment.createdAt | date('d. m. Y H:i') }}</div>
                <div>
                    {{ comment.text }}
                    {% if comment.updatedAt is not null %}
                        <span class="edited" title="Naposledy upraven: {{ comment.updatedAt | date('d. m. Y H:i') }}">
                            (upraven)
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/table.js') }}" defer></script>
{% endblock %}
